<div id="<%= dom_id message %>">
  <p>
    <strong>User:</strong>
    <%= message.user_id %>
  </p>

  <p>
    <strong>Channel:</strong>
    <%= message.channel_id %>
  </p>

  <p>
    <strong>Message type:</strong>
    <%= message.message_type %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= message.content %>
  </p>

  <p>
    <strong>Sent at:</strong>
    <%= message.sent_at %>
  </p>

  <p>
    <strong>Raw data store:</strong>
    <%= message.raw_data_store %>
  </p>

</div>
