<%= form_with(model: bot) do |form| %>
  <% if bot.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bot.errors.count, "error") %> prohibited this bot from being saved:</h2>

      <ul>
        <% bot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_area :name %>
  </div>

  <div>
    <%= form.label :platform, style: "display: block" %>
    <%= form.text_area :platform %>
  </div>

  <div>
    <%= form.label :config_store, style: "display: block" %>
    <%= form.text_field :config_store %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
